$black = #000;
$white = #FFF;

$blue = #5C94E0;
$blue-light = #E8F0F8;
$blue-dark = #0071CA;

// Invert colors are used if you need
// to render content(like text) over a colored background;
$blue-invert = $white;

$grey-4xlight = #F5F5F5;
$grey-3xlight = #EFEFEF;
$grey-2xlight = #CECECE;
$grey-light = #E2E2E2;
$grey = #989EA6;
$grey-dark = #737579;
$grey-xdark = #45474D;

$red-light = #FFD1D1;
$red = #EA7373;

$orange-light = #FFE0AE;
$orange = #FFD695;

$shadow-light = #B7B7B7;
$shadow-dark = #989898;
